<form [FormGroup]="signUpForm" (ngSubmit)="submitRegisterationForm()">
        <div class="card text-center">
          <div class="card-body">
                <div class="row">
                        <div class="col">
                                Username : <input type="text" name="username" formControlName="username">
                                {{username.errors | json}}
                            </div>
                            </div>
                            
           </div>
           <div class="form-group col-md-6">
            
              <input type="text" name="last_name" class="form-control" 
              [(ngModel)]="newUser.lastName"
              id="last_name" placeholder="Last Name" #nameLast="ngModel">
           </div>
          </div>
          
           <div class="form-group">
            
              <input type="email" name="email" class="form-control" email 
              [(ngModel)]="newUser.email" required
              id="email" placeholder="Email Address " #emailId= "ngModel">
           </div>
           <span class="formError" *ngIf="emailId.invalid">Please enter valid Email ID..</span>
          <div class="form-group">
              
              <input type="password" name="password" class="form-control" 
              [(ngModel)]="newUser.password" userPassValidator  required
              id="password" pattern="" placeholder="Password" #password="ngModel">
                 <div *ngIf="password.invalid &&(password.touched || password.dirty)">
                   <div *ngIf="password.errors.required">
                      Password is required
                   </div>
                   <div *ngIf="password.errors.passwordError">
                    Password must be atleast 9 characters
                   </div>
                 </div>
          </div>
        
          
            <button type="submit" value="Register"  class="btn btn-primary" [disabled]="!newUserAddFormRef.valid">Submit</button>
       
        
            </form>